body,html {
    height: auto;
}

body { 
    color: #fff;
    background: #0B2A2F;
    background: linear-gradient(135deg,#0B2A2F 0%, #003D47 100%);
    padding: 0 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

a {
    color: #ff18e9;
    &:hover {
       color: #ff49ed;
    }
}
